.faq {
    position: relative;
    margin-top: 13rem;
}

.faq h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 38px;
    line-height: 57px;
    letter-spacing: 0px;
    text-align: center;
    color: #2D1D0F;
}

.faq h2 {
    font-family: Onest;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0px;
    color: #0A0A0A;
    margin-top: 68px;
}

.faq .top-btns button {
    height: 51px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 14px;
    background-color: transparent;
    border: 1px solid #929292;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    font-family: Onest;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    color: #929292;
}

.faq .top-btns button.active {
    color: #BFA227;
    border: 1px solid #BFA227;
}

.faq .accordion-item:first-of-type {
    border: none;
}

.faq .accordion-button {
    background-color: transparent !important;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0px;
    color: #0A0A0A !important;
    padding: 0;
    height: 57.79999923706055px;
    gap: 15px;
}

.faq hr {
    margin: 0.2rem 0;
    border-top: 1px solid #b8b8b8;
}

.faq .accordion-item {
    background-color: transparent !important;
    border: none !important;
}

.faq .accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.faq .accordion-button:not(.collapsed) {
    color: #0A0A0A;
}

.faq .accordion-button:focus {
    box-shadow: none !important;
}

.faq .accordion-body {
    padding-left: 35px !important;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: #5C5C5C;
    line-height: 25px;
    padding-bottom: 0 !important;
    letter-spacing: 0px;
    padding-top: 10px !important;
}

.accordion-button::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://img.icons8.com/ios/50/plus-math--v1.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease-in-out;
}

.container-faq {
    max-width: 76%;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    margin: 0 auto;
}

.accordion-body p {
    font-size: 16px;
    line-height: 20px;
}

.my-55 {
    margin-top: 2rem !important;
    margin-bottom: 3rem !important;
}


/* When accordion is open, show minus icon instead of plus */

.accordion-button:not(.collapsed)::after {
    background-image: url('https://img.icons8.com/ios/50/minus-math--v1.png') !important;
    transform: rotate(180deg);
}

.gap-s {
    gap: 0.625rem !important;
}

@media (max-width:768px) {
    .faq h1 {
        font-weight: 500;
        font-size: 28px;
    }
    .faq h2 {
        font-size: 20px;
        font-weight: 400;
        margin-top: 20px;
    }
    .faq {
        margin-top: 10rem;
    }
    .faq .top-btns button {
        height: 36px;
        padding-top: 8px;
        padding-right: 7px;
        padding-bottom: 8px;
        padding-left: 8px;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
    }
    .faq .accordion-button {
        font-size: 14px;
        font-weight: 400;
        gap: 17px;
    }
    .faq .accordion-body {
        font-size: 14px;
        line-height: 20px;
    }
    .faq hr {
        margin: 0.1rem 0!important;
    }
    .container-faq {
        max-width: 100%;
        padding-right: 1.2rem !important;
        padding-left: 1.2rem !important;
        margin: 0 auto;
    }
    .my-55 {
        margin-top: 1rem !important;
        margin-bottom: 3rem !important;
    }
    .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 0px 0px;
    }
    .hidemobile {
        display: none !important;
    }
}