.faq {
    position: relative;
    margin-top: 13rem;
}

.faq h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 38px;
    line-height: 57px;
    letter-spacing: 0px;
    text-align: center;
    color: #2D1D0F;
}

.faq h2 {
    font-family: Onest;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0px;
    color: #0A0A0A;
    margin-top: 40px;
}

.faq .top-btns button {
    height: 51px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 14px;
    background-color: transparent;
    border: 1px solid #929292;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    font-family: Onest;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -1%;
    color: #929292;
}

.faq .top-btns button.active {
    color: #BFA227;
    border: 1px solid #BFA227;
}

.faq .accordion-item:first-of-type {
    border: none;
}

.faq .accordion-button {
    background-color: transparent !important;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0px;
    color: #0A0A0A !important;
    padding: 0;
}

.faq hr {
    margin: 1.5rem 0;
    border-top: 3px solid #E4E4E4;
}

.faq .accordion-item {
    background-color: transparent !important;
    border: none !important;
}

.faq .accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.faq .accordion-button:not(.collapsed) {
    color: #0A0A0A;
}

.faq .accordion-button:focus {
    box-shadow: none !important;
}

.faq .accordion-body {
    padding-left: 35px !important;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: #5C5C5C;
    line-height: 25px;
    padding-bottom: 0 !important;
    letter-spacing: 0px;
    padding-top: 10px !important;
}

.accordion-button::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://img.icons8.com/ios/50/plus-math--v1.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease-in-out;
}


/* When accordion is open, show minus icon instead of plus */

.accordion-button:not(.collapsed)::after {
    background-image: url('https://img.icons8.com/ios/50/minus-math--v1.png') !important;
    transform: rotate(180deg);
}

@media (max-width:768px) {
    .faq h1 {
        font-weight: 500;
        font-size: 28px;
    }
    .faq h2 {
        font-size: 20px;
        font-weight: 400;
    }
    .faq {
        margin-top: 10rem;
    }
    .faq .top-btns button {
        height: 44px;
        padding-top: 8px;
        padding-right: 7px;
        padding-bottom: 8px;
        padding-left: 8px;
        font-weight: 500;
        font-size: 10px;
        line-height: 100%;
    }
    .faq .accordion-button {
        font-size: 14px;
        font-weight: 400;
    }
    .faq .accordion-body {
        font-size: 14px;
        line-height: 20px;
    }
    .faq hr {
        margin: 1rem 0!important;
    }
}