.breadcrumb {
    padding-top: 12rem !important;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.breadcrumb a,
.breadcrumb span {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 39px;
    letter-spacing: 0px;
    color: #777777;
    text-decoration: none;
}

.breadcrumb a.active {
    color: #0A0A0A;
}

.hero-recipe-details {
    width: 90%;
    margin: 0 auto;
}

.hero-recipe-details .left-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-recipe-details .left-side .imgs {
    height: 421px;
    overflow: hidden;
    border-radius: 20px;
}

.hero-recipe-details .left-side .imgs img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-recipe-details .right-side h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #0A0A0A;
    padding-top: 10px;
}

.hero-recipe-details .right-side .vegans-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.hero-recipe-details .right-side .vegans-btn button {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #40360D;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    border: 1px solid #FBF6E01F;
    backdrop-filter: blur(4px);
    font-family: Onest;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 3%;
    vertical-align: middle;
    color: #FFFFFF;
}

.hero-recipe-details .right-side h6 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    margin-top: 0px;
    color: #777777;
}

.hero-recipe-details .dets-btn button {
    height: 38px;
    border-radius: 8px;
    border-width: 1px;
    padding: 7px 12px;
    border: 1px solid rgba(20, 20, 20, 0.3);
    backdrop-filter: blur(4px);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 3%;
    vertical-align: middle;
    background-color: transparent;
    color: rgba(119, 119, 119, 1);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.hero-recipe-details .ingredients {
    width: 100%;
    height: 227px;
    border-radius: 16px;
    padding: 28px 19px;
    margin-top: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(245, 238, 206, 1);
}

.hero-recipe-details .ingredients h1 {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: rgba(45, 29, 15, 1);
}

.hero-recipe-details .ingredients p {
    color: rgba(92, 92, 92, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
}

.recipe h2 {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    color: rgba(45, 29, 15, 1);
    margin: 2rem 0;
    margin-top: 36px;
    margin-bottom: 24px;
}

.recipe .accordion-item {
    border: none;
    background-color: rgba(245, 238, 206, 1) !important;
    border-radius: 16px !important;
    border-radius: 16px !important;
    padding: 11px 16px;
    margin-bottom: 24px;
}

.recipe h5 {
    border-radius: 16px !important;
    background-color: rgba(245, 238, 206, 1);
}

.recipe .accordion-button {
    border: none;
    background-color: rgba(245, 238, 206, 1) !important;
    height: 46px;
    padding: 20px 16px;
    border-radius: 16px !important;
}

.recipe .accordion-header .accordion-button {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    padding: 0px !important;
    letter-spacing: 0px;
    color: rgba(37, 37, 37, 1);
}

.recipe .accordion-button:focus {
    box-shadow: none !important;
}

.recipe strong {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgba(37, 37, 37, 1);
}

.recipe .accordion-body {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    gap: 0px;
    flex-direction: column;
    leading-trim: NONE;
    padding-bottom: 18px;
    line-height: 18px;
    padding-top: 0;
    letter-spacing: 0%;
    color: rgba(92, 92, 92, 1);
    padding: 0px;
}

.recipe .accordion-button::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://img.icons8.com/ios/50/plus-math--v1.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease-in-out;
}

.recipe .accordion-button:not(.collapsed)::after {
    background-image: url('https://img.icons8.com/ios/50/minus-math--v1.png') !important;
    transform: rotate(180deg);
}

.made-with h2 {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: rgba(45, 29, 15, 1);
    margin: 2rem 0;
}

.made-with .made-with-container {
    width: 100%;
    height: 168px;
    border-radius: 16px;
    padding: 16px;
    background-color: rgba(255, 255, 255, 1);
}

.made-with .made-with-container .left-made {
    width: 100%;
    height: 136px;
    border-radius: 12px;
    overflow: hidden;
}

.made-with .made-with-container .left-made img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.made-with .made-with-container .right-made h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: rgba(37, 37, 37, 1);
    margin: 0;
}

.made-with .made-with-container .right-made p {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(92, 92, 92, 1);
    margin: 16px 0;
}

.made-with .right-made button {
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 14px 12px;
    background-color: rgba(13, 18, 43, 1);
    font-weight: 600;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -1%;
}

.did-you {
    width: 100%;
    height: 650px;
    margin-top: 4rem;
    position: relative;
}

.did-you img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.did-you .overlayer {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 6rem;
    z-index: 9;
}

.did-you .overlayer .did-you-container {
    height: 100%;
}

.did-you .overlayer .leftsec {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
    gap: 25px;
    flex-direction: column;
}

.did-you .overlayer .leftsec h1 {
    font-weight: 500;
    font-style: Medium;
    font-size: 52px;
    line-height: 53px;
    letter-spacing: -2%;
    color: rgba(255, 255, 255, 1);
}

.did-you .overlayer .leftsec p {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(249, 244, 240, 1);
}

.did-you .overlayer .rightsec {
    width: 326px;
    height: 294px;
    border-radius: 16.8px;
    position: absolute;
    top: 50%;
    overflow: hidden;
    right: 0;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
}

.did-you .overlayer .rightsec .top {
    background-color: rgba(20, 20, 20, 1);
    width: 100%;
    height: 98px;
    padding-top: 19.6px;
    padding-right: 28px;
    padding-bottom: 19.6px;
    padding-left: 28px;
}

.did-you .overlayer .rightsec .top h6 {
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: -1%;
    margin: 0;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.did-you .overlayer .rightsec .bottom {
    width: 270px;
    height: 137px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 112px;
    left: 28px;
}

.did-you .overlayer .rightsec .bottom button {
    width: 270px;
    height: 58px;
    border-radius: 8.4px;
    background: rgba(20, 20, 20, 0.15);
    border: 1.4px solid rgba(0, 0, 0, 0.05);
    padding: 14px;
    font-weight: 500;
    text-align: start;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -1%;
    color: rgba(20, 20, 20, 1);
}

.did-you .progress-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 112px;
    height: 6px;
    background-color: rgba(204, 204, 204, 1);
    border-radius: 28px;
    overflow: hidden;
}

.did-you .progress {
    width: 25%;
    height: 100%;
    background-color: rgba(45, 29, 15, 1);
    border-radius: 10px 0 0 10px;
    transition: width 0.4s ease;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
    height: 45px;
}

.hero-recipe-mbl {
    display: none;
}

@media (max-width:768px) {
    .breadcrumb,
    .dets-btn,
    .vegans-btn {
        display: none !important;
    }
    .hero-recipe-details .ingredients {
        height: auto;
        padding: 19px 24px;
        margin-top: 1.5rem;
    }
    .hero-recipe-details .right-side h1 {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0%;
    }
    .hero-recipe-details .right-side h6 {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0%;
        color: rgba(92, 92, 92, 1);
    }
    .recipe h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0%;
        color: rgba(45, 29, 15, 1);
    }
    .recipe .accordion-header .accordion-button {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0px;
    }
    .recipe strong {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
    }
    .recipe .accordion-body {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0%;
    }
    .made-with h2 {
        text-align: center;
        font-weight: 500;
        font-style: Medium;
        font-size: 28px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
    }
    .made-with .made-with-container {
        width: 280px;
        position: relative;
        height: 336px;
        border-radius: 16px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 16px;
        padding-left: 10px;
        box-shadow: 0px 4.05px 25.42px 0px rgba(0, 0, 0, 0.09);
    }
    .made-with {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 99;
    }
    .made-with .made-with-container .left-made {
        width: 260px;
        height: 170px;
        border-radius: 12px;
    }
    .made-with .right-made {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .made-with .made-with-container .right-made h5 {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 10px;
    }
    .made-with .made-with-container .right-made p {
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 16.19px;
        letter-spacing: 0%;
        text-align: center;
        margin: 7px 0;
        vertical-align: middle;
        width: 80%;
    }
    .made-with .right-made button {
        height: 29px;
        border-radius: 8.1px;
        padding: 9px;
        font-weight: 600;
        font-size: 9.71px;
        line-height: 100%;
        letter-spacing: -1%;
    }
    .made-with::before {
        content: "";
        position: absolute;
        width: 275px;
        height: 341px;
        border-radius: 18.92px;
        top: 117px;
        transform: rotate(-11.2deg);
        background: linear-gradient(0deg, var(--Colors-Primary-200---BG-2, #F4ECC9), var(--Colors-Primary-200---BG-2, #F4ECC9)), linear-gradient(165.47deg, #F5EECE 3.73%, #F0E6B7 85.42%);
    }
    .made-with .progress-bar {
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translate(-50%);
        width: 112px;
        height: 6px;
        background-color: rgba(204, 204, 204, 1);
        border-radius: 28px;
        overflow: hidden;
    }
    .made-with .progress {
        width: 25%;
        height: 100%;
        background-color: rgba(45, 29, 15, 1);
        border-radius: 10px 0 0 10px;
        transition: width 0.4s ease;
    }
    .did-you .overlayer {
        padding: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180.03deg, rgba(0, 0, 0, 0.4) 9.72%, rgba(0, 0, 0, 0) 99.98%);
    }
    .did-you .overlayer .rightsec {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        width: 233px;
        height: 210px;
        border-radius: 12px;
    }
    .did-you .overlayer .leftsec h1 {
        font-weight: 500;
        font-style: Medium;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        width: 100%;
    }
    .did-you .overlayer .leftsec p {
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
        width: 100%;
        color: rgba(249, 244, 240, 1);
    }
    .did-you .overlayer .leftsec {
        gap: 5px;
        height: 125%;
    }
    .did-you .overlayer .rightsec .top {
        height: 68px;
        padding: 14px 20px;
    }
    .did-you .overlayer .rightsec .top h6 {
        font-size: 16px;
        line-height: 23px;
    }
    .did-you .overlayer .rightsec .bottom {
        width: 193px;
        height: 98px;
        top: 80px;
        left: 20px;
    }
    .did-you .overlayer .rightsec .bottom button {
        width: 193px;
        height: 42px;
        border-radius: 6px;
        border-width: 1px;
        padding: 10px;
        font-size: 14px;
    }
    .did-you .progress-bar {
        width: 80px;
        height: 4px;
        bottom: 14ox;
    }
    .did-you::before {
        width: 100%;
        height: 241px;
        transform: rotate(180deg);
        content: "";
        position: absolute;
        background: linear-gradient(-180deg, rgba(248, 242, 220, 0) 0%, #FBF6E0 71.23%);
        top: -20px;
    }
    .hero-recipe-mbl {
        display: block;
        width: 100%;
        height: 620px;
        position: relative;
    }
    .hero-recipe-mbl img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .hero-recipe-mbl .overlayer {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.64) 5.61%, rgba(0, 0, 0, 0) 29.44%, rgba(0, 0, 0, 0.8) 100%);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
    }
    .hero-recipe-mbl .overlayer .top {
        position: absolute;
        top: 170px;
        left: 24px;
    }
    .hero-recipe-mbl .overlayer .top .arrow {
        width: 48px;
        height: 48px;
        border-radius: 10px;
        background: #23232333;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-recipe-mbl .overlayer .top .arrow i {
        color: #fff;
        font-size: 25px;
    }
    .hero-recipe-mbl .overlayer .bottom {
        position: absolute;
        bottom: 40px;
        padding-left: 24px;
        width: 100%;
    }
    .hero-recipe-mbl .overlayer .bottom span {
        height: 36px;
        border-radius: 50px;
        max-width: max-content;
        display: flex;
        gap: 6px;
        padding-top: 6px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-left: 10px;
        background: #1414144D;
        border: 1px solid #ffffff1e;
        backdrop-filter: blur(4px);
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 3%;
        vertical-align: middle;
    }
    .hero-recipe-mbl .overlayer .bottom h2 {
        font-size: 25px;
        font-weight: 600;
        color: #fff;
        margin-top: 30px;
    }
}

@media (min-width:1920px) {
    .recipe .accordion-button {
        height: 57px;
    }
    .hero-recipe-details {
        width: 92%;
    }
}