* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Onest', sans-serif;

}

html,
body {

    width: 100%;
    background-color: #fbf5e0 !important;

}

.navbar {
    position: fixed !important;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 112px;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 !important;
    z-index: 999;
    border-radius: 24px;
}

.navbar-nav a {
    font-weight: 400;
    font-family: 'Onest', sans-serif;
    font-size: 16px;
    line-height: 27px;
}

.navbar .marques {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    background: linear-gradient(89.72deg, #E2CA74 -20.96%, #A5843E 201.13%);

}

.navbar .marques span {
    font-family: 'Onest', sans-serif;
    font-weight: 500 !important;
    font-style: medium !important;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 10%;
    color: #FCFBF2;
    text-transform: uppercase;
}

.marques {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    /* optional background */
    padding: 10px 0;
}

.marque-content {
    display: inline-block;
    white-space: nowrap;
    gap: 17px;
    animation: marquee 25s linear infinite;
}

.marque-content span {
    display: inline-block;
    margin-right: 17px;
    margin-left: 17px;
    /* spacing between texts */
    color: #d81b60;
    font-size: 16px;
    font-weight: 600;

}

.nearby-sec .nearby-slider .nearby-slides {
    height: 445px;

}


.poll .marque-content span {
    display: inline-block;
    margin-right: 17px;
    margin-left: 17px;

    font-size: 16px;
    font-weight: 500;

}

/* Animation */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.navbar .nav-container img {
    width: 70px;
    height: 52px;

}

.navbar .nav-container .talk-btn {
    background-color: #0D122B;
    color: #fff;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    border: none;
    border-radius: 10px;
    padding: 18px;
    font-family: 'Onest', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}


.hero {
    width: 100%;
    height: 100%;
    display: flex;
}

.hero .left-sec {
    width: 50%;
    height: 1055px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-image: url('../images/b0445bc11c223ec249a004bbb6af456bcc7eec51.png');
}

.hero .left-sec .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.66%, #000000 124.46%);
    top: 0;
    left: 0;
}

.hero .left-sec .overlay .overlay-container {
    position: absolute;
    top: 827px;
    left: 76px;
    color: #FFFFFF;
    width: 100%;
}



.hero .left-sec .overlay .overlay-container h4 {
    font-family: 'Onest';
    font-weight: 500;
    font-style: Medium;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: -2%;
}

.hero .left-sec .overlay .overlay-container p {
    font-family: 'Onest';
    font-weight: 400;
    font-style: regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-top: 20px;
}

.hero .right-sec {
    width: 50%;
    height: 1055px;
    position: relative;
}


.hero .right-sec .form {
    width: 85%;
    height: 744px;
    left: 50px;
    position: absolute;
    top: 203px;
}



.hero .right-sec .form h2 {
    font-family: 'Onest', sans-serif;
    color: #2D1D0F;
    font-weight: 500;
    font-style: medium !important;
    font-size: 52px;
    line-height: 100%;
    margin-bottom: 11px;
    letter-spacing: -2% !important;

}

.hero .right-sec .form p {
    font-family: 'Onest', sans-serif;
    color: #666666;
    width: 95%;
    font-weight: 400;
    font-size: 16px;
    font-style: regular !important;
    line-height: 20px;
    letter-spacing: 0;
    margin-bottom: 0 !important;
    margin-top: 0px !important;
}

.hero .right-sec .form .input {
    margin-top: 40px;
}

.hero .right-sec .form .input label,
.hero .right-sec .form .input2 label {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: block;
    margin-bottom: 16px;
    color: #40360D;
    letter-spacing: 0;
    font-family: 'Onest', sans-serif;
}

.hero .right-sec .form .input input {
    width: 100%;
    height: 52px;
    border-radius: 4px;
    border: 1px solid #40360D33;
    padding: 16px;
    margin-top: 0px;
    background-color: transparent;
    outline: none;
    font-family: 'Onest', sans-serif;
}


.hero .right-sec .form .input2 {
    display: flex;
    gap: 16px;
    width: 100%;
    margin-top: 16px;
}

.hero .right-sec .form .input2 .left,
.hero .right-sec .form .input2 .right {
    width: 50%;
}

.hero .right-sec .form .input2 input {
    position: relative;
    width: 100%;
    /* height: 52px; */
    border-radius: 4px;
    border: 1px solid #40360D33;
    padding: 16px;


    appearance: none;
    background-color: transparent;
    font-family: 'Onest', sans-serif;

}

.hero .right-sec .form .input2 .select {
    position: relative;
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid #40360D33;
    appearance: none;
    background-color: transparent;
    font-family: 'Onest', sans-serif;
    padding: 0 16px;

}

.hero .right-sec .form .input2 .select i {
    font-size: 25px;
}


.hero .right-sec .form .input2 select {
    color: #808080;
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
}

.hero .right-sec .form .textarea {
    margin-top: 16px;
}

.hero .right-sec .form textarea {
    width: 100%;
    height: 121px;
    background-color: transparent;
    border: 4px;
    outline: none;
    border: 1px solid #40360D33;
    padding: 16px;
    margin-top: 8px !important;
}

.hero .right-sec .form .submit-sec {
    display: flex;
    margin-top: 16px;
    gap: 8px;

}

.hero .right-sec .form .submit-sec input {
    height: 24px;
    opacity: 0.4;
    width: 24px;
    border-radius: 4px;
    border: 1px solid #D2D5DA;
}

.hero .right-sec .form .submit-sec p {
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    font-style: medium !important;
    font-size: 18px;
    line-height: 27px;
    color: #40360D;
    letter-spacing: 0;
    margin: 0 !important;
}

.hero .right-sec .form .submit-sec p span {
    font-weight: 700;
}


.hero .right-sec .form .submit-button button {
    margin-top: 32px;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    padding: 12px;
    gap: 10px;
    background-color: #0D122B;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0;
}


.hero .left-sec .icons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}


.hero .left-sec .icons .icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
}

.hero .left-sec .icons .icon i {
    font-size: 20px;
}


.map-sec {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 95px;
}


.map-sec span {
    color: #5C5C5C;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
}

.map-sec h6 {
    margin: 21px 0;
    font-weight: 500;
    font-size: 38px;
    text-align: center;
    line-height: 130%;
    letter-spacing: -2%;
}

.map-sec .map {
    height: 495px;
    width: 100%;
    margin-top: 45px;
    overflow: hidden;
}

.map-sec .map iframe {
    width: 100%;
    height: 100%;
}

/* nearby store */


.containers {
    margin: 0 auto;
    width: 90%;

}

.nearby-store {
    background-color: #fff;
    padding-top: 80px;
}

.nearby-store .nearby-container img {
    height: 80px;
    width: 80px;
}

.nearby-store .nearby-container h6 {
    width: 100%;
    font-weight: 500;
    font-size: 52px;
    line-height: 130%;
    letter-spacing: -2%;
}


.nearby-store .nearby-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nearby-store .nearby-container .birds {
    width: 250px;
    height: 100px;
    margin-top: -5%;
}

#mbl2 {
    display: none;
}

.nearby-store .nearby-container select {
    color: #916238;
    font-size: 32px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
}

.nearby-store .select {
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nearby-store .select i {
    font-size: 30px;
}

.swiper {
    width: 100%;
    height: 100%;
}


.custom-select {
    appearance: none !important;
    /* remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white url('../images/Icon.png') no-repeat right 10px center;
    background-size: 16px;
    padding-right: 60px;
    font-size: 30px;
    border: 1px solid #ccc;
    cursor: pointer;

}





.nearby-slider .nearby-slides {
    height: 400px;
    border-radius: 16px;
    overflow: hidden;
    transform: translateX(20%);
    position: relative;
}


.nearby-slider .nearby-slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipie-slider .swiper-slide {
    width: 305px !important;
    flex-shrink: 0;
}

.nearby-slider .nearby-slides .slider-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0.64) 5.61%, rgba(0, 0, 0, 0) 29.44%, rgba(0, 0, 0, 0.8) 88.8%);

    top: 0;
    left: 0;
}


.nearby-slider .nearby-slides .slider-overlay .nearbytop {
    padding-top: 15px;
    padding-left: 17px;
    padding-right: 17px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;

}


.nearby-slider .nearby-slides .slider-overlay .nearbytop h6 {
    width: 63%;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 3%;
    vertical-align: middle;

}


.nearby-slider .nearby-slides .slider-overlay .nearbytop button,
.nearby-slider .nearby-slides .slider-overlay .nearbybottom span {
    border-radius: 70px;
    border: 1.4px solid #0000000D;
    padding: 4px 12px;
    display: flex;
    gap: 8.4px;
    background: #1414144D;
    backdrop-filter: blur(5.599999904632568px);
    height: 32px;
    color: #fff;
    font-family: Onest;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    display: inline-block;
    line-height: 150%;
    letter-spacing: 3%;
    vertical-align: middle;

}

.nearby-slider .nearby-slides .slider-overlay .nearbybottom {
    width: 90%;
    height: auto;
    position: absolute;
    top: 270px;
    left: 12px;
    gap: 16.8px;

}

.nearby-slider .nearby-slides .slider-overlay .nearbybottom p {

    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 150%;
    margin: 16px 0;
    letter-spacing: 3%;
    vertical-align: middle;
    color: #F1F1F1;
}

.nearby-store .navi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
    gap: 20px;
}


.nearby-store .navi .arrow {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    border-radius: 3.6px;
    border: 1px solid #947E1E;
}

.navi p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.navi span {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}


.nearby-store .navi .arrow i {
    font-size: 1.5rem;
}

.nearby-store .navi .arrow:hover {
    transition: all 0.5s ease-in-out;
    background-color: #947E1E;
    color: #fff;
    scale: 1.1;
    cursor: pointer;
}


.footer .first-row img {
    width: 250px;
    height: 190px;


}

.first-row {
    position: relative;
}

.first-row::before {
    content: "";
    position: absolute;
    top: -42px;
    right: 157px;
    height: 70px;
    width: 108px;
    background-image: url(../images/Chim.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(357deg);
}

.desktop-hr {
    color: transparent !important;
    border: 0;
    margin-top: 5rem !important;
    /* default border hatao */
    height: 2px;
    /* thickness */
    width: 100%;
    background: linear-gradient(90deg, #FBF5E0 1.71%, #BFA227 45.72%, #FBF5E0 101.78%);
    border-radius: 5px;
    /* optional – smooth edges */
}



.footer .first-row h6 {
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    margin-top: 34px;
    color: #0A0A0A;
}

.footer .second-row h6 {
    font-weight: 600;
    padding-top: 30px;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 34px;
    color: #0A0A0A;
}

.footer .second-row a {
    color: #404040;
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 22px;
    display: block;
    font-size: 18px;
}

.footer .second-row .icon {
    width: 48px;
    height: 48px;
    border-radius: 33px;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 2px solid #F5EDCA;

}

.nearby-slider .nearby-slides .slider-overlay .nearbytop button,
.nearby-slider .nearby-slides .slider-overlay .nearbybottom span i {
    display: flex;
    gap: 4px;
    align-items: center;
    /* width: 90px; */
    justify-content: center;
}

.copywrite {
    width: 89% !important;
    margin: 0 auto !important;
}


.copywrite a {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    color: #0A0A0A;
    line-height: 130%;
    letter-spacing: -2%;
    text-decoration: none;

}

.copywrite img {
    width: 70px;
    height: 20px;

}

.mbl-progress {
    display: none;
}

.bird {
    margin-top: 17rem;
    position: absolute;
    right: 0;
}

.end-container {
    width: 100%;
    height: 332px;
    overflow: hidden;
    position: relative;
}

.end {
    bottom: -2.5rem;
    position: relative;
    gap: 17.17px;
    display: flex;
    animation: marquee 25s linear infinite;
    will-change: transform;
}

.end .end-box {
    width: 371px;
    height: 332px;
    overflow: hidden;
    border-radius: 39.84px;
    flex-shrink: 0;
}

.end .end-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Duplicate content for seamless loop */
.end::after {
    content: "";
    display: flex;
}

.end::after {
    content: attr(data-duplicate);
}

/* Animation */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


.phn-btn {
    display: none !important;
}

.mbl-footer {
    display: none;
}


#mbl {
    display: none;
}

.mbl-sec {
    display: none;
    font-family: Onest;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    line-height: 120%;
    margin-top: 15px;
    letter-spacing: 0%;
    text-transform: capitalize;

}

.desktop-footer {
    width: 90%;
    margin: 0 auto;
}

.bird-sec {
    display: none;
}

.home-phn {
    display: none;
}

.mbl-copy {
    display: none;
}

.end-container-mbl {
    display: none;
}

@media (max-width: 768px) {

    .end-container {
        display: none;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .hero .right-sec .form .input2 {
        flex-direction: column;
    }

    .hero .right-sec .form .input2 .left,
    .hero .right-sec .form .input2 .right {
        width: 100%;
    }

    .hero .left-sec {
        width: 100%;
    }

    .hero .right-sec {
        width: 100%;
        height: 1080px;
    }

    .hero .left-sec .overlay .overlay-container {
        top: 0px;
        left: 0;
    }

    .bird-sec {
        position: absolute;
        right: 0px;
        display: block;

    }

    .home-img {
        width: 100% !important;
        margin-top: 70px;
        top: 163px !important;
    }

    .bird-sec img {
        width: 120px !important;
    }

    .nearby-store .nearby-container select {
        font-family: Onest;
        font-weight: 500;
        font-style: Medium;
        font-size: 18px;

        line-height: 130%;
        letter-spacing: 0%;
        text-transform: capitalize;


    }

    .nearby-store .select {
        width: 65px;
    }


    .hero .left-sec .overlay .overlay-container {
        text-align: center;
    }

    .hero .left-sec {
        height: 709px;
        background-size: contain;
        margin-top: 7rem;
    }

    .hero .left-sec .icons {
        justify-content: center;
    }

    .marque-divider {
        display: none;
    }

    .hero .left-sec .overlay .overlay-container h4,
    .hero .left-sec .overlay .overlay-container p {
        color: #000;
        font-size: 28px;
    }

    #dek {
        display: none;
    }

    .mbl-sec {
        display: block;
    }

    .light-icon {
        height: 20px !important;
        width: 20px !important;
    }

    .nearby-slider .nearby-slides .slider-overlay .nearbytop h6 {
        font-size: 16px;
    }

    .nearby-slider .nearby-slides .slider-overlay .nearbytop button,
    .nearby-slider .nearby-slides .slider-overlay .nearbybottom span {
        font-size: 10px;
    }

    .nearby-slider .nearby-slides .slider-overlay .nearbybottom p {
        font-size: 12px;
        line-height: 130%;
    }

    .nearby-slider .nearby-slides .slider-overlay .nearbybottom {
        top: 177px;
    }

    .nearby-store .navi {
        display: none;
    }

    #mbl,
    #mbl2 {
        display: block;
        font-weight: 400;
        font-style: Regular;
        font-size: 15px;
        padding: 0 12px;
        line-height: 130%;
        letter-spacing: 0%;
        z-index: 99;
        text-align: center;
        color: rgba(102, 102, 102, 1);
    }

    .map-sec span {
        font-size: 12px;
        font-weight: 500;
    }

    .map-sec h6 {

        font-family: Onest;
        font-weight: 500;
        font-style: Medium;
        font-size: 30px;
        padding: 0 20px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;

    }

    .hero .left-sec .overlay::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 100px;
        width: 100%;
        background: linear-gradient(179.39deg, #FBF5E0 20.45%, #FFFFFF 67.46%);

    }

    .mbl-footer .first-row h6 {
        font-size: 18px;
        font-weight: 400;
    }

    .mbl-footer .second-row h6 {
        font-size: 18px;
        margin-bottom: 17px;
    }

    .mbl-footer .second-row a {
        margin-bottom: 18px;
    }

    #mbl2 {
        position: absolute;
        bottom: 50px;
        margin: 0;
        transform: translate(-50%, 0);
        left: 50%;
        font-size: 14px;
        color: rgba(64, 54, 13, 1);

    }

    .hero .left-sec .icons .icon {
        border: 0.5px solid rgba(64, 54, 13, 1);
        height: 32px;
        width: 32px;
    }

    .hero .left-sec .icons .icon i {
        color: rgba(64, 54, 13, 1);
        font-size: 15px;
    }

    .hero .left-sec .overlay {
        background: none;
    }

    .map-sec h6 {
        font-size: 30px;
        width: 100%;
    }

    .map-sec .map {
        height: 400px;
    }

    .nearby-store .nearby-container {
        flex-direction: column;
        align-items: start;
        padding-left: 0px;
        position: relative;
        margin-bottom: 2rem;
    }

    .birds {
        display: none;
    }

    .nearby-store .nearby-container h6 {
        display: none;
    }

    .nearby-slider .nearby-slides {

        transform: translateX(5%);

    }

    .copywrite a {
        display: block;
        padding: 10px 0;
        /* border-bottom: 0.5px solid #e7e7e7; */
    }

    .hero .right-sec .form {
        width: 100%;
        left: 0;
        padding: 0 30px;
    }

    .navbar {
        position: absolute !important;
        flex-direction: row;
        border-radius: 10px;
    }

    .navbar .nav-container .talk-btn {
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
        height: 36px !important;
        border-radius: 10px;
        padding: 12px;

    }

    .menu-btn {

        background: #f9f9f9;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .mbl-progress {
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
    }

    .mbl-progress .progress-bar {
        width: 180px !important;
        margin-top: 20px;
    }

    .menu-btn span {
        position: relative;
        display: block;
        width: 18px;
        height: 8px;
        left: -7px;
        border-radius: 1px;
        transition: 0.3s ease;
    }

    .navbar-toggler {
        background-color: rgba(249, 249, 249, 1) !important;
        border: 0.69px solid rgba(240, 240, 240, 1) !important;
        height: 36px !important;
        width: 36px !important;
        border-radius: 10px !important;
        border-width: 0.69px !important;
        padding-top: 8.31px !important;
        padding-right: 11.08px !important;
        padding-bottom: 8.31px !important;
        padding-left: 11.08px !important;
        gap: 8.31px;

        backdrop-filter: blur(8.30769157409668px) !important;
    }

    .navbar .marques {
        height: 20px;
    }

    .navbar .marques span {
        font-size: 10px !important;
        font-weight: 700;
    }

    .marque-content span {
        margin-right: 8.5px !important;
        margin-left: 8.5px !important;
        font-size: 12px !important;
        font-weight: 500;
        padding: 0 !important;
    }

    .marque-content img {
        height: 16px;
        width: 16px;
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
    }

    .menu-btn span::before,
    .menu-btn span::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 0.8px;
        background: #000;
        border-radius: 2px;
        transition: 0.3s ease;
    }

    .menu-btn span::before {
        top: -0px;
    }

    .menu-btn span::after {
        top: 6px;
    }

    /* When Active (Cross) */
    .menu-btn.active span {
        background: transparent;
    }

    .menu-btn.active span::before {
        transform: rotate(45deg);
        top: 0;
    }

    .menu-btn.active span::after {
        transform: rotate(-45deg);
        top: 0;
    }


    .map-sec {
        padding-top: 20px;
    }

    .nav-container {
        background: rgba(255, 255, 255, 1);
        height: 52px;
        padding: 0 10px !important;


    }

    .phn-btn {
        height: 43px !important;
        width: 103px !important;
        font-size: 14px !important;
        font-weight: 500;
        cursor: pointer;
        display: flex !important;
    }

    .home-phn {
        display: block;
        width: 100% !important;

        font-style: Regular;
        font-size: 15px !important;
        color: rgba(102, 102, 102, 1);
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;

    }

    .desktop-footer {
        display: none;
    }

    .mbl-footer {
        display: block;
    }

    .swiper-slide {
        width: auto !important;
        flex-shrink: 0;
        max-width: 300px;

    }

    .right-para {
        display: none;
    }

    .hero .right-sec .form h2 {
        font-size: 28px;
        text-align: center;
    }

    .navbar {
        height: 72px;
    }

    .navbar .nav-container img {
        width: 48px;
        height: 36px;
        margin-left: 11px;
    }

    .hero .right-sec .form .submit-sec p {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
    }

    .hero .right-sec .form .submit-sec {
        align-items: center;
    }

    .nearby-sec .nearby-slider .nearby-slides {
        height: 355px;
    }

    .desktop-hr {
        display: none !important;
    }

    .phone-hr {
        color: transparent !important;
        border: 0;
        margin-top: 5rem !important;
        /* default border hatao */
        height: 2px;
        /* thickness */
        width: 100%;
        background: linear-gradient(90deg, #FBF5E0 1.71%, #BFA227 45.72%, #FBF5E0 101.78%);
        border-radius: 5px;
        /* optional – smooth edges */
    }

    .bird {
        margin-top: 41rem;
        right: 0;
        width: 115px;
    }

    .accordion-item {
        border-bottom: 1px solid #ddd;
        background: #fff9e5;
        /* optional soft background like your image */
    }

    .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 0px 10px;
    }


    .accordion-header h6 {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
    }

    .accordion-header .icon {
        font-size: 22px;
        transition: transform 0.3s ease;
    }

    .accordion-content {
        display: none;
        padding: 0 10px 10px;
        flex-direction: column;
    }

    .accordion-content a {
        display: block;
        color: #000;
        font-size: 15px;
        text-decoration: none;
        padding: 5px 0;
        transition: 0.2s;
    }

    .accordion-content a:hover {
        color: #bfa227;
        /* gold accent */
    }

    /* When active */
    .accordion-item.active .accordion-content {
        display: block;
    }

    .accordion-item.active .icon {
        transform: rotate(45deg);
    }

    .accordion-item {
        background-color: transparent !important;
        border: none !important;
    }

    .mbl-copy {
        display: block !important;
    }

    .footer .first-row img {
        width: 148px;
        height: 112px;
    }

    .first-row::before {
        top: -35px;
        right: 100px;
        height: 72px;
        width: 108px;
    }

    .end-container-mbl {
        width: 100%;
        height: 96px;
        overflow: hidden;
        position: relative;
        display: block;
    }

    .end-container-mbl .end {
        bottom: -0.5rem;
        position: relative;
        gap: 14px;
        display: flex;
        animation: marquee 25s linear infinite;
        will-change: transform;
    }

    .end-container-mbl .end .end-box {
        width: 96px;
        height: 96px;
        overflow: hidden;
        border-radius: 12px;
        flex-shrink: 0;
    }

    .end-container-mbl .end .end-box img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .end-container-mbl

    /* Duplicate content for seamless loop */
    .end::after {
        content: "";
        display: flex;
    }

    .end-container-mbl .end::after {
        content: attr(data-duplicate);
    }

    /* Animation */
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }




}

@media (max-width:992px) {
    .bird {
        display: none;
    }
}

@media (max-width:575px) {
    .bird {
        display: block;
    }
}

@media (max-width:400px) {
    .map-sec h6 {
        font-size: 28px;
    }
}

.navi .arrow i.swiper-button-disabled,
.navi .arrow i.disabled {
    opacity: 0.3 !important;
    pointer-events: none !important;
}

@media (min-width:1400px) {
    .hero .right-sec .form p {
        width: 580px;
    }
}