.home-banner {
    position: relative;
    height: 872px;
    width: 100%;
}

.home-banner img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    display: block;
}

.home-banner::after {
    content: "";
    position: absolute;
    top: 623px;
    left: 0;
    width: 100%;
    /* backdrop-filter: blur(2px); */
    height: 470px;
    background: linear-gradient(180deg, rgba(248, 242, 220, 0) 11.59%, #FBF6E0 43.92%);
}

.home-overlayer {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* Example overlay color */
}

.home-overlayer img {
    height: 600px;
    width: auto;
}

.home-img {
    height: 603.04px;
    width: 904px;
    position: absolute;
    left: 51%;
    top: 268px;
    transform: translateX(-50%);
    /* overflow: hidden; */
}

.home-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-banner .home-overlayer h6 {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 11px;
    margin-top: 192px;
}

.home-banner .home-overlayer h1 {
    font-weight: 600;
    font-size: 82px;
    line-height: 69px;
    letter-spacing: -2px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.home-banner .explore-button button {
    background-color: #0D122B;
    color: #fff;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    position: absolute;
    top: 778px;
    left: 49.5%;
    transform: translateX(-50%);
    z-index: 99;
    border: none;
    border-radius: 15px;
    padding: 18px;
    font-family: 'Onest', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.our-products-slider .explore-button button {
    background-color: #0D122B;
    color: #fff;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    z-index: 99;
    border: none;
    border-radius: 15px;
    padding: 18px;
    font-family: 'Onest', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.our-product-parent {
    height: 877px;
    padding: 40px;
    margin-top: 50px;
    overflow: hidden;
}

.our-products {
    height: 720px;
    width: 100%;
    border-radius: 12px;
    position: relative;
}

.our-products img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.our-product-parent .our-products .overlayer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    justify-content: space-between;
    display: flex;
}

.our-product-parent .our-products .overlayer .left-div {
    width: 312px;
    height: 282px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin: 44px;
    position: relative;
    z-index: 99;
}

.our-product-parent .our-products .overlayer .left-div h2 {
    font-family: Onest;
    font-weight: 500;
    font-size: 52px;
    line-height: 130%;
    letter-spacing: -0.16px;
    color: #2D1D0F;
    margin-bottom: 0px;
}

.our-product-parent .our-products .overlayer p {
    font-family: Onest;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 3px;
    color: #666666;
}

.milk {
    position: absolute;
    top: 50%;
    padding-top: 6rem;
    height: 921px !important;
    width: 880px !important;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our-product-parent .our-products button {
    width: 200px;
    height: 55px;
    border-radius: 15.28px;
    padding: 20px;
    background: #0D122B;
    font-family: Onest;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    letter-spacing: -1%;
    color: #FFFFFF;
}

.sliding-nearby-store {
    /* width: 364px!important;
    height: 445px!important; */
}


/* swiper-slide-store
{
    margin-right: -50px!important;
} */

.our-product-parent .center-div .bottom-sec {
    width: 796px;
    height: 140px;
    border-radius: 196px;
    top: 85%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    border-width: 6px;
    padding-top: 16px;
    padding-right: 62px;
    padding-bottom: 16px;
    padding-left: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(230, 207, 142, 1);
    border: 6px solid rgba(255, 247, 212, 1)
}

.our-product-parent .center-div .bottom-sec .text-center p {
    font-family: Onest;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -2%;
    text-align: center;
    color: rgba(99, 85, 66, 1);
}

.our-product-parent .center-div .bottom-sec .text-center h3 {
    font-family: Onest;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: -5%;
    text-align: center;
    text-transform: capitalize;
    color: rgba(64, 40, 8, 1);
    margin: 0;
}

.our-product-parent .center-div .bottom-sec .line {
    width: 150px;
    height: 0px;
    transform: rotate(-90deg);
    opacity: 1;
    border-width: 1.5px;
    border: 1.5px solid rgba(255, 247, 212, 1)
}

.our-product-parent .right-div {
    margin: 44px;
}

.our-product-parent .right-div h4 {
    font-family: Onest;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #492A0C;
}

.our-product-parent .right-div .right-sec-div {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: column;
}

.product-arrow {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    border-radius: 3.6px;
    border: 1px solid #947E1E;
    z-index: 99;
    cursor: pointer;
}

.product-arrow-r {
    height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    width: 150px;
    z-index: 99;
}

.our-product-parent .product-arrow-r p {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin: 0;
    color: #40360D !important;
}

.our-product-parent .product-arrow-r span {
    font-weight: 500;
    margin: 0;
}

.product-arrow-r p {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin: 0;
    color: #40360D !important;
}

.product-arrow-r span {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.about-bird {
    margin-top: -3rem;
}

.aboutus {
    height: 676px;
    padding-top: 30px;
    width: 96% !important;
    margin: 35px auto 35px auto;
    justify-content: center;
    position: relative;
    margin-bottom: 0px;
}

.aboutus .aboutleft {
    width: 100%;
    height: 503px;
    border-radius: 24px;
    overflow: hidden;
}

.aboutus .aboutleft img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.aboutright {
    display: flex;
    height: 100%;
    align-items: start;
    flex-direction: column;
    padding-left: 2.5rem;
    justify-content: center;
    position: relative;
}

.aboutus::before {
    content: "";
    position: absolute;
    top: -8rem;
    right: 0;
    width: 500px;
    height: 500px;
    background-image: url('../images/cloud.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.aboutright p {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(92, 92, 92, 1);
}

.aboutright h6 {
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    color: rgba(45, 29, 15, 1);
    line-height: 130%;
    letter-spacing: -0.16px;
}

.volt-drink .explore-button button {
    background-color: #0D122B;
    color: #fff;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    z-index: 99;
    border: none;
    border-radius: 10px;
    padding: 18px;
    font-family: 'Onest', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.volt-drink h1 {
    font-weight: 500;
    font-style: Medium;
    font-size: 52px;
    margin-right: 43px;
    line-height: 130%;
    letter-spacing: -2%;
    color: (45, 29, 15, 1);
}

.volt-drink {
    height: 873px;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 72px;
    text-align: center;
}

.volt-marq .box {
    width: 224px;
    height: 200px;
    flex: 0 0 auto;
    overflow: hidden;
    border-radius: 24px;
}

.volt-marq .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.volt-marq {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border-radius: 24px;
    position: relative;
}

.marquee-track {
    display: flex;
    animation: scroll 5s linear infinite;
    width: max-content;
    gap: 32px;
}

.progress-bar {
    width: 112px;
    /* adjust width as needed */
    height: 6px;
    /* thickness of bar */
    background-color: #d3d3d3;
    /* light gray background */
    border-radius: 50px;
    /* rounded edges */
    overflow: hidden;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    /* ensure fill stays inside rounded corners */
}

.progress-fill {
    overflow: hidden;
    height: 100%;
    position: relative;
    width: 0;
    /* set via inline style or JS */
    background-color: #CCCCCC;
    /* dark brown (like your sample) */
    border-radius: 50px;
    transition: width 0.4s ease;
    /* smooth animation */
}

.progress-fill::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 6px;
    width: 50px;
    background: #2D1D0F;
}

@keyframes fillProgress {
    from {
        width: 0;
    }

    to {
        width: 45%;
    }
}

.progress-fill {
    animation: fillProgress 1s ease forwards;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.ready {
    width: 90%;
    margin: 3rem auto;
    overflow: hidden;
    height: 316px;
    border-radius: 12px;
    background-image: url('../images/4a11b3e2172301c07e8c34ff3797a3a90929944c\ \(1\).jpg');
    background-position: top center;
}

.ready-left {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    text-align: start !important;
    padding-left: 2rem;
}

.ready-left h5 {
    font-weight: 500;
    font-style: Medium;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -2%;
    color: rgba(46, 85, 116, 1);
}

.ready-left p {
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 115%;
    width: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(55, 101, 136, 1);
}

.ready-left img {
    height: 50px;
    width: max-content;
}

.ready-left a {
    text-decoration: none;
}

.ready-right {
    height: 100%;
    width: 100%;
}

.ready-right img {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    object-fit: contain;
    left: 0;
}

.our-recipes {
    height: 748px;
    position: relative;
    background: linear-gradient(181.24deg, rgba(248, 242, 220, 0) 22.68%, #FBF6E0 44.63%);
}

.our-recipes::after {
    content: "";
    position: absolute;
    top: 36px;
    left: 0;
    transform: rotateY(180deg);
    height: 300px;
    width: 282px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/cloud.png');
}

.our-recipes::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
    width: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/cloud.png');
}

.navi {
    position: relative;
    z-index: 9;
}

.navi p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.navi span {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.home-near {
    position: relative;
}

.home-near::after {
    content: "";
    background: linear-gradient(180deg, rgba(248, 242, 220, 0) -1.71%, #FBF6E0 18.69%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 270px;
}

.our-recipes h1 {
    font-weight: 500;
    text-align: center;
    padding-top: 66px;
    font-style: Medium;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -2%;
    color: rgba(45, 29, 15, 1);
    margin-bottom: 90px;
}

.learnmore {
    width: 110px;
    height: 39px;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 14px;
    background-color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -1%;
    border: none;
}

.bottom-div {
    top: 78% !important;
}

.poll {
    height: 782px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.poll-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pl-5 {
    padding-left: 7rem;
}

.poll::before {
    content: "";
    position: absolute;
    opacity: 1;
    left: 0;
    backdrop-filter: blur(0.7px);
    width: 100%;
    height: 403px;
    top: -10px;
    background: url('../images/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.poll-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.right-poll {
    width: 326px;
    height: 310px;
    border-radius: 16.8px;
    opacity: 1;
    background: var(--Colors-Neutral-100, rgba(255, 255, 255, 1));
    text-align: center;
    position: relative;
    overflow: hidden;
}

.right-poll h5 {
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    position: relative;
    z-index: 9;
    padding-top: 30px;
}

.right-poll::before {
    content: "";
    background-color: #000;
    position: absolute;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
}

.poll-container h2 {
    font-weight: 500;
    font-style: Medium;
    font-size: 52px;
    line-height: 65px;
    letter-spacing: -2%;
    color: rgba(255, 255, 255, 1);
}

.poll-container p {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    line-height: 23px;
    letter-spacing: 0%;
    width: 50%;
    padding-top: 20px;
}

.right-poll button {
    width: 270px;
    height: 58px;
    border-radius: 8.4px;
    justify-content: space-between;
    opacity: 1;
    border-width: 1.4px;
    padding: 14px;
    text-align: start;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    color: rgba(20, 20, 20, 1);
    line-height: 100%;
    letter-spacing: -1%;
    background-color: rgba(20, 20, 20, 0.15);
    border: 1.4px solid rgba(0, 0, 0, 0.05)
}

.polloverlayer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16%;
}

.polloverlayer .marque-content span {
    margin: 0 5rem !important;
}

.polloverlayer img {
    filter: invert(100%);
}

.mbl-about {
    display: none;
}

.our-product-mbl {
    display: none;
}

.our-recipes-mbl {
    display: none;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--bs-nav-link-color) !important;
}

.gradiant_blur {
    display: none;
}

@media (max-width: 768px) {
    .home-banner img {
        object-fit: cover;
    }

    .our-product-parent {
        display: none;
    }

    .ready-right img {
        bottom: 8px;
        object-fit: contain !important;
    }

    .pl-5 {
        padding-left: 0;
    }

    .home-overlayer {
        padding-top: 154px;
        display: block;
        top: 0;
        background-color: rgb(0 0 0 / 2%);
    }

    .home-banner .home-overlayer h6 {
        font-size: 26px;
        font-weight: 600;
        margin: 0;
    }

    .home-banner .explore-button button {
        top: 662px;
        height: 36px;
        font-size: 12px;
        font-weight: 500;
        padding: 12px;
        border-radius: 10px;
    }

    .home-marquee {
        top: 33px;
        position: relative;
    }

    .home-banner {
        height: 705px;
    }

    .explore-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-overlayer img {
        height: 513px;
        width: 100%;
    }

    .home-banner .home-overlayer h1 {
        font-size: 46px;
    }

    .progress-fill::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 6px;
        width: 30px;
        background: #2D1D0F;
    }

    .volt-marq .box {
        height: 72px;
        width: 72px;
        border-radius: 10px;
    }

    .marquee-track {
        gap: 15px;
    }

    .home-banner .home-overlayer h1 {
        font-size: 46px;
        line-height: 47px;
    }

    .home-banner::after {
        height: 227px;
        top: 550px;
    }

    .mbl-progress {
        display: block;
    }

    .explore-button button {
        margin-top: 0rem;
    }

    .our-products,
    .aboutus {
        display: none;
    }

    .volt-drink h1 {
        font-size: 32px;
        font-weight: 700;
        margin-right: 15px;
    }

    .explore-button button {
        font-size: 12px;
        font-weight: 600;
        height: 36px;
        border-radius: 10px;
        padding: 12px;
    }

    .volt-marq {
        border-radius: 0;
    }

    .volt-drink {
        padding-top: 28px;
        height: 635px;
    }

    .ready {
        height: 328px;
        margin: 2rem auto;
        background-position: 947px 0px;
        overflow: hidden;
    }

    .ready-left {
        padding: 2rem 0;
        align-items: center;
        gap: 2px;
    }

    .ready-left h5 {
        text-align: center;
        font-size: 28px;
        font-weight: 600;
    }

    .ready-left p {
        font-size: 14px;
        text-align: center;
        line-height: 140%;
        font-weight: 400;
    }

    .poll-img {
        display: none;
    }

    .poll-container h2 {
        position: relative;
        z-index: 99;
        font-size: 32px;
        font-weight: 500;
        text-align: center;
    }

    .poll-container p {
        width: 100%;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        padding-top: 6px;
        text-align: center;
    }

    .nearby-store {
        padding-top: 30px;
    }

    .right-poll {
        width: 72%;
        margin: 120px auto;
        height: 250px;
    }

    .polloverlayer {
        top: 180px;
    }

    .poll-over {
        position: absolute;
        top: 0;
        width: 100%;
        inset: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%,
                /* top: very light black */
                rgba(0, 0, 0, 0.05) 30%,
                /* mid: almost gone */
                rgba(0, 0, 0, 0) 100%
                /* bottom: fully transparent */
            );
        height: 100%;
    }

    .polloverlayer .marques {
        border-width: 1px, 0px, 1px, 0px;
        border-style: solid;
        border-color: rgba(204, 204, 204, 0.2);
    }

    .polloverlayer .marque-content span {
        font-size: 12px;
        font-weight: 500;
        margin: 0 1rem !important;
    }

    .mbl-about {
        width: 100%;
        padding: 4rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        flex-direction: column;
    }

    .img-section {
        width: 155px;
        height: 76px;
        border-radius: 59.4px;
        overflow: hidden;
    }

    .img-section img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .mbl-about p {
        font-weight: 500;
        font-style: Medium;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: -1%;
        color: rgba(67, 67, 67, 1);
    }

    .mbl-about h2 {
        font-weight: 500;
        font-style: Medium;
        font-size: 30px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(45, 29, 15, 1);
    }

    .join-btn {
        width: 130px;
        height: 36px;
        border-radius: 10px;
        padding: 12px;
        background: rgba(255, 255, 255, 1);
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: -1%;
        color: rgba(13, 18, 43, 1);
        border: none;
    }

    .ready-right {
        height: 144px;
    }

    .our-product-mbl {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding-top: 104px;
    }

    .our-product-mbl h2 {
        font-weight: 500;
        font-style: Medium;
        font-size: 28px;
        line-height: 130%;
        margin-bottom: 0;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
    }

    .our-product-mbl p {
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        color: #666666;
        letter-spacing: 0%;
        text-align: center;
    }

    .our-product-mid {
        width: 87%;
        height: 444px;
        border-radius: 12px;
        background: linear-gradient(165.47deg, #F5EECE 3.73%, #F0E6B7 85.42%);
    }

    .our-product-mid h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(73, 42, 12, 1);
        padding-top: 2rem;
    }

    .our-product-mid img {
        height: 65%;
        width: 100%;
        object-fit: contain;
    }

    .our-product-mid .bottom-sec {
        width: 278px;
        height: 89px;
        border-radius: 140px;
        padding-top: 12px;
        padding-right: 40px;
        padding-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 40px;
        background: rgba(230, 207, 142, 1);
        margin: 0 auto;
    }

    .our-product-mid .bottom-sec h6 {
        font-weight: 500;
        font-style: Medium;
        font-size: 10px;
        line-height: 140%;
        letter-spacing: -2%;
        text-align: center;
        color: rgba(99, 85, 66, 1);
    }

    .our-product-mid .bottom-sec h1 {
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -5%;
        text-align: center;
        text-transform: capitalize;
        color: rgba(64, 40, 8, 1);
        margin: 0;
    }

    .bottom-sec .line {
        width: 65px;
        height: 0px;
        transform: rotate(-90deg);
        border: 0.85px solid rgba(64, 40, 8, 0.1);
    }

    .our-recipes {
        display: none;
    }

    .our-recipes-mbl {
        padding-bottom: 0rem;
        display: block;
    }

    .our-recipes-mbl .swiper {
        width: 320px;
        height: 440px;
    }

    .our-recipes-mbl .swiper-slide {
        width: 80% !important;
        height: 367px !important;
        border-radius: 12px;
        overflow: hidden;
    }

    .our-recipes-mbl h2 {
        font-weight: 600;
        font-style: SemiBold;
        font-size: 28px;
        line-height: 130%;
        letter-spacing: 0%;
        padding: 2rem 0;
        text-align: center;
        text-transform: capitalize;
        color: rgba(45, 29, 15, 1);
    }

    .our-recipe-slider img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .our-recipe-slider .overlay {
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.64) 5.61%, rgba(0, 0, 0, 0) 29.44%, rgba(0, 0, 0, 0.8) 100%);
        padding: 16px;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .our-recipe-slider .overlay h4 {
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0%;
        color: rgba(255, 255, 255, 1);
    }

    .our-recipe-slider .overlay button {
        height: 19px;
        border-radius: 50px;
        padding-top: 2px;
        padding-right: 6px;
        padding-bottom: 2px;
        padding-left: 6px;
        border-width: 1px;
        background: rgba(20, 20, 20, 0.3);
        backdrop-filter: blur(4px);
        font-weight: 500;
        font-style: Medium;
        font-size: 10px;
        color: rgba(255, 255, 255, 1);
        border: none;
        line-height: 150%;
        letter-spacing: 3%;
        vertical-align: middle;
    }

    .our-recipe-slider .overlay .learn-more button {
        height: 36px;
        border-radius: 10px;
        gap: 10px;
        padding: 12px;
        color: rgba(13, 18, 43, 1);
        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: -1%;
        background-color: rgba(255, 255, 255, 1);
    }

    .pollmbl-img {
        height: 1014px;
        width: 100%;
        object-position: -161px -80px;
        /* object-fit: unset; */
        object-fit: cover;
    }

    .right-poll h5 {
        font-size: 16px;
    }

    .right-poll button {
        font-size: 14px;
        height: 42px;
        width: 223px;
    }

    .right-poll::before {
        height: 83px;
    }

    .mt-6 {
        margin-top: 29px;
    }

    .containers {
        width: 100%;
        padding-left: 22px;
    }
}

@media (max-width:1400px) {
    .aboutus::before {
        width: 345px;
        top: -11rem;
    }
}

@media (max-width:1466px) {
    .product-arrow-r {
        right: 96px;
    }
}

@media (max-width:1355px) {
    .our-products-slider .product .overlayer .top-sec h6 {
        font-size: 40px;
        line-height: 118%;
    }

    .our-products-slider .product .overlayer .top-sec p {
        font-size: 15px;
    }

    .aboutright h6 {
        font-size: 43px;
    }
}

@media (max-width:1580px) {
    .ready-right img {
        object-fit: fill;
    }
}

@media (min-width:1400px) {
    .ready .ready-row {
        justify-content: space-between;
        width: 100%;
    }

    .aboutright h6 {
        font-size: 50px;
    }

    .gradiant_blur {
        height: 403px;
        background-image: url(../images/Background.png);
        position: absolute;
        z-index: 1;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
    }

    .our-recipes {
        height: 627px;
    }
}

@media (min-width:1400px) {
    .ready {
        width: 90%;
    }
}

@media (min-width:1920px) {
    .ready {
        width: 92%;
    }
}

.product-arrow-r p {
    font-size: 18px;
    font-weight: 500;
}

.product-arrow-r p span {
    /* color: #ff6600; */
    font-weight: 700;
}

.product-arrow i {
    cursor: pointer;
    font-size: 24px;
}

.progress-fill::before {
    width: 50%;
    transition: width 0.8s ease;
}

.progress-bar.step-2 .progress-fill::before {
    width: 100%;
}

.progress-bar.complete .progress-fill::before {
    width: 100%;
}
