.home-img {
    height: 492px;
    width: 354px;
    position: absolute;
    left: 46%;
    top: 345px;
    transform: translateX(-50%);
    /* overflow: hidden; */
}


/* .home-banner::after {
    background: linear-gradient(180.43deg, rgba(252, 246, 224, 0) 11.59%, #FCF6E0 43.92%);
    top: 534px;
} */

.intro_volt {
    display: flex;
    justify-content: space-between;
}

.intro_volt {
    margin: 0 auto;
    margin-top: 164px;
    width: 90%;
}

.home-banner .home-overlayer h6 {
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 11px;
    text-align: left;
    margin-top: 16px;
}

.home-banner .home-overlayer h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 84px;
    text-shadow: 0px 0px 12px #FFFFFF80;
}

.crunchy_div {
    width: 465px;
    text-align: left;
}

.crunchy_div h5 {
    font-size: 26px;
    line-height: 39px;
    color: #fff;
    font-weight: bold;
}

.crunchy_div p {
    color: #FFFFFF;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
}

.home-banner .explore-button button {
    text-align: left !important;
    position: relative;
    top: auto;
    display: flex;
    transform: translateX(0%);
    left: auto;
}

.rotate-div {
    margin: 0 auto;
    /* background-color: #FCF6E0; */
    background: linear-gradient(rgba(252, 246, 224, 0), rgba(252, 246, 224, 1));
    /* background-image: url(../images/promise-bg.png); */
    /* background-color: #FCF6E0;
    background-blend-mode: multiply; */
    /* options: overlay, screen, soft-light */
    height: 1136px;
    /* Fallback color */
}

.rotate_bg {
    height: 1136px;
    background-size: cover;
    background-image: url(../images/product-detail.png);
    background-position: center;
}


/* Header Section */

.header {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    z-index: 10;
    margin-top: 55px;
}

.header h1 {
    font-size: 52px;
    color: #2D1D0F;
    margin-bottom: 15px;
    font-weight: 500;
}

.header p {
    font-size: 20px;
    color: #666;
    max-width: 727px;
    margin: 0 auto;
    line-height: 27px;
    color: #666666;
}

.rotate-div .header img {
    width: 32px;
    height: 32px;
    margin-top: 6px;
}


/* Decorative Elements */

.bird {
    position: absolute;
    font-size: 1.5rem;
    opacity: 0.6;
}

.bird-left {
    left: 40px;
    top: 80px;
}

.bird-right {
    right: 40px;
    top: 80px;
}


/* Main Content */

.content-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 645.571533203125px;
    margin-bottom: 40px;
}


/* Cards Grid */

.cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 67px 75px;
    max-width: 878px;
    width: 100%;
    z-index: 1;
    position: relative;
    top: 0px;
}

.card_desk {
    padding: 14px 25px !important;
    border-radius: 20px !important;
    color: white !important;
    font-weight: 600;
    width: 324px;
    min-height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* transition: transform 0.3s ease;
    transform: rotate(0deg); */
    /* add rotations to each card */
    /* default hidden state */
    /* Your rotation stays as it is */
    transform: rotate(var(--rot, 0deg)) translateX(0) translateY(40px);
    opacity: 0;
    transition: opacity .6s ease, transform .6s ease;
}


/* Slide-in positions while KEEPING rotation */

.card_desk.left-effect {
    --x: -80px;
    /* left side */
}

.card_desk.right-effect {
    --x: 80px;
    /* right side */
}


/* Apply translation without touching rotation */

.card_desk.left-effect,
.card_desk.right-effect {
    transform: rotate(var(--rot, 0deg)) translateX(var(--x)) translateY(40px);
}


/* When visible in viewport */

.card_desk.show {
    opacity: 1;
    transform: rotate(var(--rot, 0deg)) translateX(0) translateY(0);
}

.card_desk h3 {
    font-size: 32px;
    margin-bottom: 12px;
    line-height: 48px;
    font-weight: 700;
}

.card_desk p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}


/* Card Colors */

.card-navy {
    background-color: #0D122B !important;
    transform: rotate(5.39deg);
    /* add rotation */
}

.card-purple {
    background-color: #7B89D7 !important;
    margin-left: 104px;
    float: left;
    top: 21px;
}

.card-blue {
    background-color: #3B4FC1 !important;
    transform: rotate(355deg);
    position: relative;
    z-index: 1;
    overflow: visible;
    /* allow gradient outside */
    /* add rotation */
}

.card-blue::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -42px;
    transform: translateX(-50%) rotate(355deg);
    width: 100%;
    height: 22px;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, /* softer shadow center */
    rgba(0, 0, 0, 0.15) 30%, /* smooth fade */
    rgba(0, 0, 0, 0) 100%/* full fade out */
    );
    filter: blur(12px);
    opacity: 0.85;
    z-index: -1;
    pointer-events: none;
    background: radial-gradient(51.52% 51.52% at 50% 50%, #000000 36.69%, rgba(255, 255, 255, 0) 100%)/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    rotate: 365deg;
}

.card-light-purple {
    background-color: #BDC4EB !important;
    transform: rotate(-355deg);
    color: #252525 !important;
    margin-left: 95px;
    position: relative;
    z-index: 1;
    overflow: visible;
    /* add rotation */
}

.card-light-purple::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -47px;
    transform: translateX(-50%) rotate(355deg);
    width: 100%;
    height: 25px;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, /* softer shadow center */
    rgba(0, 0, 0, 0.15) 30%, /* smooth fade */
    rgba(0, 0, 0, 0) 100%/* full fade out */
    );
    filter: blur(12px);
    opacity: 0.85;
    z-index: -1;
    pointer-events: none;
    background: radial-gradient(51.52% 51.52% at 50% 50%, #000000 36.69%, rgba(255, 255, 255, 0) 100%)/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    rotate: 365deg;
}


/* Center Product Area */

.product-center {
    position: absolute;
    width: 280px;
    height: 280px;
    background: radial-gradient(circle at 30% 30%, #a8d985 0%, #6ba656 100%);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.7;
    box-shadow: 0 20px 60px rgba(107, 166, 86, 0.2);
    border: 3px solid rgba(107, 166, 86, 0.5);
    /* add circular border */
}


/* Landscape Elements */

.landscape-left,
.landscape-right {
    position: absolute;
    opacity: 0.4;
    z-index: 0;
}

.landscape-left {
    left: 0;
    bottom: -50px;
    width: 200px;
    height: 300px;
    background: linear-gradient(to right, #8b8b8b 0%, #b8b8b8 50%, transparent 100%);
    clip-path: polygon(0 50%, 100% 100%, 0 100%);
}

.landscape-right {
    right: 0;
    bottom: -50px;
    width: 200px;
    height: 300px;
    background: linear-gradient(to left, #8b8b8b 0%, #b8b8b8 50%, transparent 100%);
    clip-path: polygon(100% 50%, 0 100%, 100% 100%);
}

.ingredients-section-desktop {
    background-color: #FCF6E0;
    width: 100%;
    padding: 162px 80px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.content-ing h2 {
    font-size: 52px;
    line-height: 65px;
    color: #2D1D0F;
}

.content-ing p {
    color: #666666;
    font-size: 18px;
    line-height: 23px;
}

.content-ing img {
    margin-top: 34px;
}

.image-collabe {
    display: flex;
    flex-direction: row;
}

.image-collabe img {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.introduction_img {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 29px;
}

.introduction_img h6 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 13px;
}

.introduction_img img {
    width: 149.0838623046875px;
    height: 3px;
}

.bird_pos {
    position: absolute;
    margin-top: -12%;
    margin-left: 20%;
    width: 153.98868186053684px;
    height: 103.85281633881006px;
    rotate: 1.93deg;
}

.bird_pos_bas {
    position: absolute;
    margin-top: -7%;
    margin-left: 10%;
}

.home_banner_block {
    display: none;
}

.image-collabe::before {
    content: '';
    background: url(../images/cloud_a.png);
    width: 573px;
    position: absolute;
    height: 168px;
    z-index: 1;
    background-repeat: no-repeat;
    top: 394%;
    left: 55%;
    display: none;
}


/* .rotate-div-mbl {
    margin-top: 54px; 
} */


/* Mobile card Start*/

.containr_new {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 40px 0;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.title {
    font-size: 24px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 13px;
    color: gray;
    margin-bottom: 30px;
}

.card_wrp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_wrp .card {
    width: 90%;
    padding: 18px 25px;
    border-radius: 18px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    position: absolute;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(80px) rotate(0deg) scale(0.9);
    transition: all 0.9s ease-out;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.card_wrp .card h3 {
    font-size: 32px;
    line-height: 48px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.card_wrp .card p {
    font-size: 14px;
    line-height: 21px;
    color: rgba(251, 246, 224, 1);
}


/* Card Colors and Rotation Angles */

.c1 {
    background: rgba(123, 137, 215, 1);
    top: 0px;
    --angle: 4deg;
}

.c2 {
    background: rgba(59, 79, 193, 1);
    top: 104px;
    --angle: -2deg;
}

.c3 h3 {
    color: rgba(46, 61, 150, 1) !important;
}

.c3 p {
    color: rgba(46, 61, 150, 1) !important;
}

.c3 {
    background: rgba(189, 196, 235, 1);
    top: 244px;
    --angle: 6deg;
}

.c4 {
    background: rgba(13, 18, 43, 1);
    top: 359px;
    --angle: -4deg;
}

.card_wrp .card.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0) rotate(var(--angle)) scale(1);
}

.last-text {
    margin-top: 220px;
    font-size: 13px;
    color: #333;
    display: none;
}

.containr_new {
    display: none;
}


/* Mobile card End*/

.ingredients-section-mobile {
    width: 100%;
    padding: 20px 0px;
    margin: 0 auto;
}

.content-ing {
    /* text-align: center; */
}

.ingredients-section-mobile h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 47px;
    display: flex;
    justify-content: center;
    margin-left: -52px;
}

.ingredients-section-mobile h2 img {
    width: 40px;
    height: 41px;
    margin-top: -1px;
    rotate: 15deg;
    margin-left: -10px;
    margin-right: 11px;
}

.ingredients-section-mobile p {
    font-size: 15px;
    margin-bottom: 0px;
    line-height: 24px;
    width: 324px;
    margin: 0 auto;
}

.content-ing img {
    width: 72%;
}

.ingredient_btn {
    border: 1px solid rgba(13, 18, 43, 1);
    width: 125px;
    height: 36px;
    padding: 12px;
    font-size: 12px;
    color: rgba(13, 18, 43, 1);
    border-radius: 10px;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto !important;
    margin-top: 33px !important;
    font-weight: 500;
}

.nutrients-section-mobile {
    display: none;
    width: 100%;
    padding: 20px 0px;
    margin: 0 auto;
    background-image: url(../images/nutrients.jpg);
    padding-top: 0px;
    background-size: 993px 1065px;
    background-position: bottom;
    height: 837px;
}

.nutrients-section-mobile::before {
    width: 100%;
    height: 288px;
    /* backdrop-filter: blur(2px); */
    content: "";
    position: absolute;
    rotate: -180deg;
    background: linear-gradient(180deg, rgba(248, 242, 220, 0) 0%, #FBF6E0 91.23%);
}

.brid_s {
    width: 159.18px;
    height: 107.3520077112036px;
    z-index: 11;
    position: absolute;
    right: 0px;
    rotate: -353deg;
    right: 21px;
}

.brid_s img {
    width: 100%;
}

.nutrients-content-mobile {
    height: 837px;
    width: 83%;
    margin: 0 auto;
    text-align: center;
    padding-top: 171px;
}

.nutrients-content-mobile h2 {
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
}

.nutrients-content-mobile p {
    font-size: 15px;
    color: rgba(249, 244, 240, 1);
    font-weight: 500;
}

.nutrients-image-mobile {
    width: 100;
    margin: 0 auto;
}

.nutrients-image-mobile img {
    width: 100%;
}

.ingredients-section-mobile {
    display: none;
}

.home-banner-dsk {
    display: block;
}

.home-banner-mbl {
    display: none;
}


/* Responsive Design */

@media (max-width: 768px) {
    .header h1 {
        font-size: 2rem;
    }
    .header p {
        font-size: 0.9rem;
    }
    .content-wrapper {
        min-height: 400px;
        margin-bottom: 30px;
    }
    .cards-grid {
        gap: 20px;
        max-width: 100%;
    }
    .card {
        padding: 20px;
        min-height: 120px;
        transform: rotate(0deg);
        /* maintain rotation on smaller screens */
    }
    .card h3 {
        font-size: 1.1rem;
    }
    .card p {
        font-size: 0.8rem;
    }
    .product-center {
        width: 220px;
        height: 220px;
    }
    .bird {
        font-size: 1.2rem;
    }
    .bird-left {
        left: 20px;
        top: 60px;
    }
    .bird-right {
        right: 20px;
        top: 60px;
    }
    .rotate-div {
        display: none;
    }
    .ingredients-section-desktop {
        display: none;
    }
    .home-overlayer {
        padding-top: 94px;
    }
    .intro_volt {
        margin-top: 6px;
    }
    .home-banner .home-overlayer h6 {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }
    .home-banner .home-overlayer h1 {
        text-align: left;
        font-weight: 600;
        font-size: 32px;
        line-height: 45px;
        text-shadow: 0px 0px 12px #FFFFFF80;
    }
    .explore-button {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .intro_volt {
        margin: 0 auto;
        margin-top: 6px;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .crunchy_div h5 {
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        font-weight: bold;
        margin-top: 17px;
        width: 295px;
    }
    .crunchy_div p {
        color: #FFFFFF;
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        margin-top: 13px;
        width: 249px;
    }
    .home-banner {
        height: 745px;
    }
    .crunchy_div {
        width: 100%;
        text-align: left;
    }
    .home-banner::after {
        height: 227px;
        top: 648px;
    }
    .containr_new {
        display: block;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .containr_new .header h1 {
        font-size: 28px;
        line-height: 25px;
        color: rgba(45, 29, 15, 1);
        font-weight: 500;
        font-family: Onest;
    }
    .containr_new .header p {
        font-size: 15px;
        line-height: 23px;
        font-family: Onest;
    }
    .card_wrp {
        margin-top: 72px;
    }
    .header {
        margin-top: 57px;
    }
    .nutrients-section-mobile {
        display: block;
    }
    .our-recipes-mbl {
        padding-top: 20px;
    }
    .poll {
        display: none;
    }
    .content-ing {
        text-align: center;
        margin-bottom: 16px;
        background-image: url(../images/cloud_a.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: -146px -43px;
        padding-top: 68px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 282px;
    }
    .ingredients-section-mobile {
        display: block;
    }
    .home-banner-dsk {
        display: none;
    }
    .home-banner-mbl {
        display: block;
    }
    .home-banner-mbl .home-img {
        width: 63% !important;
        left: 40% !important;
        margin-top: 73px;
        top: 337px !important;
    }
    .home-banner-mbl .home-img img {
        height: 261px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px 15px;
    }
    .header {
        margin-bottom: 40px;
    }
    .header h1 {
        font-size: 1.5rem;
    }
    .header p {
        font-size: 0.85rem;
    }
    .cards-grid {
        gap: 15px;
        grid-template-columns: 1fr;
    }
    .card {
        padding: 20px;
        min-height: 110px;
        transform: rotate(0deg);
        /* maintain rotation on smallest screens */
    }
    .card h3 {
        font-size: 1rem;
    }
    .content-wrapper {
        min-height: 300px;
    }
    .product-center {
        width: 180px;
        height: 180px;
    }
    .landscape-left,
    .landscape-right {
        display: none;
    }
}

@media (max-width: 1440px) {
    .rotate-div {
        height: 1185px;
    }
    .rotate_bg {
        height: 1185px;
    }
    .cards-grid {
        gap: 92px 75px;
    }
    .content-wrapper {
        min-height: 692.571533px;
    }
}

@media screen and (min-device-width: 1621px) and (max-device-width: 1920px) {
    .rotate-div {
        height: 1471px;
    }
    .rotate_bg {
        height: 1417px;
        background-size: contain;
        background-image: url(../images/product-detail.png);
        background-position: center;
    }
    .content-wrapper {
        position: relative;
        display: flex;
        align-items: end;
        justify-content: center;
        min-height: 749.571533px;
        margin-bottom: 40px;
    }
}

.ingredients-grid {
    display: grid;
    grid-template-columns: repeat(3, 106px);
    gap: 31px 51px;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    line-height: 26.77px;
}

.ingredient-item {
    text-align: center;
}

.ingredient-item img {
    width: 100px !important;
    height: 100px !important;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.ingredient-item p {
    margin-top: 12px;
    font-size: 20px;
    color: #3a2e1f;
    /* matches the heading/body color in your design */
    font-weight: 600;
}